/*
	Starter page styles
*/

body {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 40px;
	background: #EFEFEF;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
}

#container {
	text-align: center;
	margin-top: 10vw;
	width: auto;
	margin: auto;
}

#portfolio {
	display: flex;
	flex-direction: row;
	margin: 0;

}

#portfolio .portfolio-item {
	display: flex;
	float: left;
	width: 200px;
	height: 200px;
	-webkit-perspective: 600px;
	margin: 10px;
}

.primary {
	position: absolute;
	float: left;
	z-index: 200;
}

.secondary {
	position: absolute;
	float: left;
	z-index: 0;
	/*transition: .8s ease-in-out;*/

	/*transform: rotateY(90deg);*/
	opacity 1;
}

.primary:hover {
	opacity: 0;
	transform-style: preserve-3d;
	transition: .8s ease-in-out;
	transform: rotateY(90deg);

}

#portfolio .portfolio-item .primary,
#portfolio .portfolio-item .secondary {
	display: block;
	width: 200px;
	height: 200px;
	background: #CCC;
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	border-radius: 10px;
	overflow: hidden;
}

#portfolio .portfolio-item .secondary {
	padding: 20px;
	width: 160px;
	height: 160px;
}

#portfolio .portfolio-item .secondary h2 {
	margin-top: 0px;

}
